.page-1{
    height: 100%;
    display: block;
}
.page-2{
    height: 100%;
    display: block;
}
.top-menu {
    background: #454857;
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
}

.category-list {
    text-align: left;
    list-style: none;
    height: 65px;
}

.category-list-item{
    float: left;
    text-align: center;
    height: 60px;
    color: var(--white);
    padding: 0 20px;
    width:100px;
    display: block;   
    position: relative;   
}

li div {
    height:60px;
    display:table-cell;
    vertical-align : middle;
}

li:hover ul {   
    display: block;   
    position: absolute; 
} 
li:hover li {   
    float: none; 
} 

li:hover,
li:focus-within {
    background: var(--darkWhite);
    cursor: pointer;
    color: #454857;
}

.dropdown {
    background-color: var(--darkWhite);
    color: var(--darkGrey);
    visibility: hidden;
    opacity: 0;
    width:240px;
    position: absolute;
    transition: all 0.5s ease;
    left:0;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    line-height: 45px;
}

.category-list li:hover .dropdown{
    transition: all 0.3s ease;
    top: 65px;
    opacity:1;
    visibility: visible;
}

.dropdown li{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}


.search-bar {
    position: absolute;
    z-index: 4;
    width: 60%;
    margin-top: 20px;
    padding: 15px;
    background: #E6E6E6;
    display: inline-block;
    box-sizing: border-box;
    height: 60px;
}
.search-box{
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
}
/* .search-btn{
    background-color: #facf43;
    border: 1px solid#facf43;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-size: 22px;
    overflow: visible;
    padding: 0 8px;
    text-align: center;
    margin-left: 10px;
    vertical-align: middle;
    height: 30px;
    color:'#facf43'
} */
  .hero-image-container{
      padding: 20px;
      margin:20px;
      height:500px;
  }

  .hero-image{
    right:50px;
    width: 500px;
    z-index: 3;
    position: absolute;
  }

  .customer-rating{
      width:50%;
      margin-top: 70px;
      padding: 20px;
      z-index: 2;
      position: absolute;
  }


