
/* .app-card-list {
    background-color: darkgray;
    display:inline-block;
    width:100%;
    float:right;
    margin:0;
    min-height: 75vh;
    white-space:normal;
    overflow-x: scroll;
    margin-top:-70px;
    
    &::-webkit-scrollbar { 
      display: none; 
    }
    
    @media(min-width:768px) {
        width:80%;
        white-space:nowrap;
        margin-top: 0;
    }
    
    .card {
      display: inline-block;
    }
  } */


  /* Float four columns side by side */
.column {
    float: left;
    width: 20%;
    margin: 20px 30px;
  }

.column:hover{
  transform: scale(1.1);
  box-shadow: 11px 11px 5px -5px rgba(255, 255, 255, 0.41);
}
  
  /* Remove extra left and right margins, due to padding */
.row {
    margin: 0 -5px;
  }
.service-card-container {
    padding: 20px;
    height: 650px;
    width:100%;
    background-color: #454857;
}

.service-cards-heading{
  text-align: center;
  margin: 60px;
  color: azure;
}
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }