.page-1{
    height: 100vh;
    display: block;
    background-image: url('../../../assets/background.jpeg');
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.page-2{
    display: block;
}
.top-menu {
    background: #454857;
    display: flex;
    align-items: center;
    height: 65px;
    width: 100%;
}

.category-list {
    text-align: left;
    list-style: none;
    height: 65px;
}

.category-list-item{
    float: left;
    text-align: center;
    height: 60px;
    color: var(--white);
    padding: 0 20px;
    width:100px;
    display: block;   
    position: relative;   
}

li div {
    height:60px;
    display:table-cell;
    vertical-align : middle;
}

li:hover ul {   
    display: block;   
    position: absolute; 
} 
li:hover li {   
    float: none; 
} 

li:hover,
li:focus-within {
    background: var(--darkWhite);
    cursor: pointer;
    color: #454857;
}

.dropdown {
    background-color: var(--darkWhite);
    color: var(--darkGrey);
    visibility: hidden;
    opacity: 0;
    width:240px;
    position: absolute;
    transition: all 0.5s ease;
    left:0;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
    line-height: 45px;
}

.category-list li:hover .dropdown{
    transition: all 0.3s ease;
    top: 60px;
    opacity:1;
    visibility: visible;
}

.dropdown li{
    width: 100%;
    display: block;
    padding: 0 0 0 15px;
    font-weight: 400;
    border-radius: 0px;
}


.search-bar {
    margin-top: 20px;
    padding: 15px;
    background: var(--darkWhite);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 60px;
}
.search-box{
    color: var(--white);
    
}
.search-field{
    background-color: var(--white);
    float: left;
    margin-right: 20px;
    width: 500px;
}
.search-btn{
    background-color: var(--yellow); 
    color: var(--white);
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    border: none;
    margin-left: 20px;
}

.search-btn:hover{
    background-color: var(--darkYellow); 
    color: var(--white);
}
.customer-rating{
    width:50%;
    margin-top:20px;
    z-index: 2;
    position: absolute;
}

  .container{
    padding: 20px;
    height:500px;
  }

  .search-container{
      display:flex;
      justify-content: space-between;
  }

  .hero-image{
    /* right:50px; */
    width: 500px;
    /* z-index: 3;
    position: absolute; */
  }

.step-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 40px;
}

.step{
    width:20%;
    
}

.step-number{
    font-size: 3.75rem;
    color: var(--lightGrey);
}

.step-heading{
    color: var(--darkGrey);
}
.step-content{
    margin-left:50px;
    margin-top: -60px;
}

.how{
    padding: 20px;
    color: var(--darkGrey);
}



