.footer-container {
    display:flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(179, 179, 179);
    text-align: center;
    color: var(--darkGrey);
}

.footer-logos {
    margin: 40px;
}

.footer-nav-links{
    margin: 40px;
}

.footer-program-links {
    margin: 40px;
}

.footer-country-stickers{
    margin: 40px;
}

.company-logo {
    width: 150px;
}

.social-media-logos {
    display: flex;
    padding: 10px;
}

.sm-logo {
    color: var(--darkGrey);
    margin: 5px;
}