.footer-container {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--lightGrey);
    text-align: center;
    color: var(--grey);
    position: relative; 
    
}

.footer-content{
    display: flex;
}

.footer-tc{
    background-color: var(--darkWhite);
    padding: 40px;
    color: var(--darkGrey);
    font-size:0.75rem;
    text-align: center;
    width: 100%;
}

.footer-logos {
    margin: 40px;
}

.footer-nav-links{
    margin: 40px;
    color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-link{
    color: var(--grey);
    margin-bottom: 15px;
    text-decoration: none;
}

a.footer-link:hover{
    color: var(--white);
}

.footer-program-links {
    margin: 40px;
}

.footer-country-stickers{
    margin: 40px;
}

.company-logo {
    width: 150px;
}

.social-media-logos {
    display: flex;
    padding: 10px;
}

.sm-logo {
    color: var(--grey);
    margin: 5px;
}